html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background: #0C1622;
    margin: 0;
}

body {
    margin: 0;
    padding-top: 60px;
    margin-bottom: 60px;
}

footer {
    position: relative;
    margin-top: 20px;
    width: 100%;
    min-height: 120px;
    background: #17283F;
    display: flex;
}

.logo {
    position: relative;
    padding: 0 30px;
}

.copyrights {
    position: relative;
    padding: 30px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/CeraPro-Thin.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/CeraPro-Light.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CeraPro-Regular.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/CeraPro-Medium.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/CeraPro-Bold.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/CeraPro-Black.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/CeraPro-ThinItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/CeraPro-LightItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/CeraPro-RegularItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/CeraPro-MediumItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/CeraPro-BoldItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/CeraPro-BlackItalic.ttf)
}
