:root {
    --main-bg-color: #0C1622;
    --element-bg-color: #17283FB2;
    --element-primary-color: #E74362;
    --element-fake-primary-color-op25: #553049;
    --element-shaded-primary-color: #d43d59;
    --font-primary-color: white;
    --font-placeholder-color: #C9C9C9;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background: var(--main-bg-color);
    font-family: 'Cera Pro', sans-serif;
}

body {
    margin: 0;
    background: url(../static/svg/background.svg) repeat-y;
    background-size: 100%;
}

/* header */
header {
    width: 100%;
    height: 70px;
    background: var(--element-bg-color);
    display: flex;
}


.logo {
    position: relative;
    padding: 0 30px;
    margin: auto 0;
}

.search {
    position: relative;
    width: 700px;
    height: 44px;
    background: var(--element-primary-color);
    border-radius: 15px;
    margin: auto;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.search-bar {
    position: relative;
    width: 600px;
    height: 100%;
    background: var(--element-fake-primary-color-op25);
    font-size: 1.2rem;
    padding: 0 10px;
    border: 0;
    border-radius: 15px 0 0 15px;
    outline: none;
    color: var(--font-primary-color);
}

    .search-bar::placeholder {
        color: var(--font-placeholder-color);
    }

.search-button {
    height: 100%;
    border-radius: 0 15px 15px 0 !important;
    margin: 0 !important;
    padding: 0 15px !important;
}

    .button:hover {
        background: var(--element-shaded-primary-color);
    }

.login-button {
    height: 50px;
    border-radius: 10px !important;
    margin: auto 30px auto 0 !important;
    padding: 0 20px !important;
}

.button {
    position: relative;
    background: var(--element-primary-color);
    font-size: 1.5rem;
    border: 0;
    border-radius: 10px;
    padding: 0 20px;
    color: var(--font-primary-color);
}

/* profile block */
.profile-container {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 20px;
}

.icon-button {
    position: relative;
    display: flex;
    height: 100%;
    padding: 0 10px;
    user-select: none;
}

.icon-container {
    position: relative;
    height: 100%;
    display: flex;
    margin: 0 2px;
}

.icon {
    margin: auto;
}

.icon-button:hover {
    background: rgba(201, 201, 201, 0.1);
}

.droplist {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--element-bg-color);
    border: var(--element-primary-color) 1px solid;
    border-radius: 0 0 10px 10px;
    display: none;
    flex-direction: column;
    padding: 8px 0;
}

.droplist-show {
    display: flex;
}

.droplist-element {
    position: relative;
    padding: 5px 20px;
    display: flex;
    white-space: nowrap;
    color: var(--font-primary-color);
}

    .droplist-element:hover {
        background: rgba(201, 201, 201, 0.1);
    }

    .droplist-element > p {
        margin: auto 0 auto 10px;
        flex-grow: 1;
    }

    .droplist-element > img {
        height: 26px;
        width: 26px;
    }

.hovered {
    background: rgba(201, 201, 201, 0.1);
}

/* Upbar tabs */
.tablist {
    position: relative;
    display: flex;
    height: 100%;
    margin: auto;
    margin-right: 20px;
    padding: 0 5px;
}

.tab-container {
    position: relative;
    display: flex;
    height: 100%;
    margin: auto 20px;
    padding: 0 10px;
    transition: opacity ease-out .15s;
}

    .tab-container:hover {
        opacity: 0.7;
    }

.tab {
    margin: auto;
    font-size: 1.2rem;
    color: var(--font-primary-color);
}

.tab-selected::after {
    content: '';
    position: absolute;
    background: var(--element-primary-color);
    border-radius: 2px;
    width: 30px;
    height: 4px;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}

/* footer */
footer {
    position: relative;
    margin-top: 20px;
    width: 100%;
    min-height: 120px;
    background: var(--element-bg-color);
    display: flex;
}

.copyrights {
    position: relative;
    padding: 30px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-primary-color);
}


/* fonts */
@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/CeraPro-Thin.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/CeraPro-Light.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/CeraPro-Regular.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/CeraPro-Medium.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/CeraPro-Bold.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/CeraPro-Black.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/CeraPro-ThinItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/CeraPro-LightItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/CeraPro-RegularItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/CeraPro-MediumItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/CeraPro-BoldItalic.ttf)
}

@font-face {
    font-display: swap;
    font-family: Cera Pro;
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/CeraPro-BlackItalic.ttf)
}
