  <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AoCP</title>
	<link rel="stylesheet" href="~/css/sharedStyle.css" asp-append-version="true" />
</head>
<body>
	@RenderBody()
	<footer>
		<img src="static/img/logo.svg" class="logo">
		<div class="copyrights">©2023</div>
	</footer>
</body>
</html>
